@mixin startPageGridItems($selector, $grid-area, $background-color: $white) {
  #{$selector}#{$grid-area} {
    grid-area: $grid-area;
    background-color: $background-color;
    display: grid;
    align-items: center;
    @content;
  }
}

@mixin iconMixin($selector, $color: black, $width: 100%) {
  .icon-#{$selector}{
    color: $color;
    width: $width;
  }
}

@mixin alertMixin($height: 30px, $background-color: $gray-10, $color: $gray, $outline-color: $gray-20){
  background-color: $background-color;
  color: $color;
  outline: 1px solid $outline-color;
  z-index: 1e3;

  &:deep(.el-alert__close-btn) {
    position: absolute;
    top: 0;
    height: $height;
    line-height: $height;
    color: $color;
  }
}

@mixin borderMixin($side, $color){
  border-#{$side}: 1px solid $color;
}

@mixin stateIcon($state, $color) {
  @extend %state-icon;
  @content; // margin
  &_#{$state} {
    background-color: $color;
  }
}
